<nav class="shadow-lg">
  <div class="flex flex-wrap justify-between ml-5 items-center mx-auto px-4 py-2.5">
    <a href="{% url 'homepage' %}" class="flex items-center">
      <img 
        class="h-9 mr-3"
        src="https://cdn4.iconfinder.com/data/icons/plastic-iconshock/256/Shopping_cart.png" alt="logo">
      <span class="self-center text-xml font-semibold">Digital Marketplace</span>
    </a>
    <div class="flex items-center">
      <div class="text-sm font-medium text-grey-500 space-x-6 mr-6">
        <a href="" >Dashboard</a>
        <a href="" >Sales</a>
        <a href="" >Orders</a>
        <a href="" >Create Product</a>
        <a href="" >Purchase</a>
        <a href="" >Logout</a>
      </div>
    </div>
  </div>
</nav>