{% extends 'base.html' %}

{% block page_content %}

<div class="product-container flex">
{% for product in products %}
  <div class="product shadow-lg w-1/4 rounded-lg m-10 items-center">
    <div class="product-image p-5">
      <img src="https://www.pacificfoodmachinery.com.au/media/catalog/product/placeholder/default/no-product-image-400x400.png"  
          alt="">
    </div>
    <div class="product-detail px-5">
      <div class="font-bold">
        {{ product.name }}
      </div>
      <div class="flex justify-between mb-5">
        <span class="text-green-700 font-bold">
          ${{ product.price }}
        </span>
        <div>
          <span class="mt-5">
            <a href="{% url 'product-detail' product.slug %}" class="bg-green-500 text-white px-4 py-2">View Details</a>
          </span>
          <span class="mt-5">
            <a href="" class="bg-yellow-500 text-white px-4 py-2">Add to Cart</a>
          </span>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>


{% endblock  %}